In [1]:
import os 
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandasql import sqldf
import numpy as np
import nltk
import re
from wordcloud import WordCloud

In [2]:
nodes = pd.read_csv('/home/manoj/tuhh/data_science_3rd_sem/deep_learning_for_social_analytics/project/deep-learning-for-social-analytics-project/artist_and_music_data/nodes.csv')
edges = pd.read_csv('/home/manoj/tuhh/data_science_3rd_sem/deep_learning_for_social_analytics/project/deep-learning-for-social-analytics-project/artist_and_music_data/edges.csv')

In [9]:
nodes.head(10)

,spotify_id,name,followers,popularity,genres,chart_hits
0,48WvrUGoijadXXCsGocwM4,Byklubben,1738.0,24,"['nordic house', 'russelater']",['no (3)']
1,4lDiJcOJ2GLCK6p9q5BgfK,Kontra K,1999676.0,72,"['christlicher rap', 'german hip hop']","['at (44)', 'de (111)', 'lu (22)', 'ch (31)', ..."
2,652XIvIBNGg3C0KIGEJWit,Maxim,34596.0,36,[],['de (1)']
3,3dXC1YPbnQPsfHPVkm1ipj,Christopher Martin,249233.0,52,"['dancehall', 'lovers rock', 'modern reggae', ...","['at (1)', 'de (1)']"
4,74terC9ol9zMo8rfzhSOiG,Jakob Hellman,21193.0,39,"['classic swedish pop', 'norrbotten indie', 's...",['se (6)']
5,0FQMb3mVrAKlyU4H5mQOJh,Madh,26677.0,19,[],['it (2)']
6,71BhXa24Zf5zcikUb00l2N,Juice,11312.0,37,"['swedish drill', 'swedish hip hop', 'swedish ...",['se (4)']
7,3TG1RXLaEhHz5SIPMWahit,Nehuda,36252.0,31,['francoton'],['fr (1)']
8,7MFvm8pwjLdmVBZddGNiQH,VovaZiLvova,14619.0,43,"['ukrainian hip hop', 'ukrainian pop', 'ukrain...",['ua (1)']
9,5I82NM6jN4Y267iHwVeNR9,Nata Record,188.0,12,[],['do (1)']

In [7]:
edges.head(10)

                     id_0                    id_1
0  76M2Ekj8bG8W7X2nbx2CpF  7sfl4Xt5KmfyDs2T3SVSMK
1  0hk4xVujcyOr6USD95wcWb  7Do8se3ZoaVqUt3woqqSrD
2  38jpuy3yt3QIxQ8Fn1HTeJ  4csQIMQm6vI2A2SCVDuM2z
3  6PvcxssrQ0QaJVaBWHD07l  6UCQYrcJ6wab6gnQ89OJFh
4  2R1QrQqWuw3IjoP5dXRFjt  4mk1ScvOUkuQzzCZpT6bc0
5  0k70gnDBLPirCltbTzoxuM  5FK3qokBQYxr7ZLkr8GVFn
6  1bAftSH8umNcGZ0uyV7LMg  1vqR17Iv8VFdzure1TAXEq
7  21ey6s5hEcTcVKDrF5MWby  7uMh23xWiuR7zsNkuNcm2G
8  1mYsTxnqsietFxj1OgoGbG  7snhzmuew8iLEDxMIhOU1P
9  3GBBxBdoolb0B5YizZq9bF  3yayE6rrovGcNkMManKwVf

In [10]:

# Create a mapping of spotify_id to artist name
spotify_to_artist = dict(zip(nodes['spotify_id'], nodes['name']))

# Define a function to get the artist name
def get_artist_name(spotify_id):
    return spotify_to_artist.get(spotify_id, 'Unknown')  # 'Unknown' if not found

# Create artist_0 and artist_1 columns
edges['artist_0'] = edges['id_0'].apply(get_artist_name)
edges['artist_1'] = edges['id_1'].apply(get_artist_name)

# Show the resulting DataFrame
print(edges)

                          id_0                    id_1  \
0       76M2Ekj8bG8W7X2nbx2CpF  7sfl4Xt5KmfyDs2T3SVSMK
1       0hk4xVujcyOr6USD95wcWb  7Do8se3ZoaVqUt3woqqSrD
2       38jpuy3yt3QIxQ8Fn1HTeJ  4csQIMQm6vI2A2SCVDuM2z
3       6PvcxssrQ0QaJVaBWHD07l  6UCQYrcJ6wab6gnQ89OJFh
4       2R1QrQqWuw3IjoP5dXRFjt  4mk1ScvOUkuQzzCZpT6bc0
...                        ...                     ...
300381  0PK0Dx3s9et0Uf4XbdFpiW  6SmpksRq3jxeDZ7roKDb6F
300382  5hqRsNHDZH1jHzI9LgxFRZ  7KYseTkErcYMRvcIqacxUq
300383  0wjb0t7aYMuIwyuXnPOilh  2p1fiYHYiXz9qi0JJyxBzN
300384  3ciRvbBIVz9fBoPbtSYq4x  5einkgXXrjhfYCyac1FANB
300385  25uiPmTg16RbhZWAqwLBy5  3Xt3RrJMFv5SZkCfUE8C1J

                            artist_0      artist_1
0                            NGHTMRE       Lil Jon
1                          Sick Luke       MACHETE
2                            Mat.Joe  Hayden James
3                           Lp2loose    Headie One
4                    Marlon Roudette        Stadic
...                              ...           ...
300381                  Sons Of Zion   Sid Diamond
300382                       Filipek     clearmind
300383                         Lay-Z        Skepta
300384  Lil Jon & The East Side Boyz   Lil Scrappy
300385                    Charli XCX    Kim Petras

[300386 rows x 4 columns]

In [11]:
edges.isnull().sum()

id_0         0
id_1         0
artist_0    22
artist_1    35
dtype: int64

In [12]:
null_rows = edges[edges['artist_0'].isnull() | edges['artist_1'].isnull()]

# Display rows with nulls
print(null_rows)

                          id_0                    id_1            artist_0  \
4708    4oPYazJJ1o4rWBrTw9lm40  7dNIRCWywqv5vRd1PbWjRc                 NaN
7186    0Dd8AchLVLMRRwSgdOC8GA  4oPYazJJ1o4rWBrTw9lm40                Abde
31904   4oPYazJJ1o4rWBrTw9lm40  5whGuKD31W4JkMx2PzJPL1                 NaN
34402   3KNZ9AOjBajjmr6ZR2VGfl  4oPYazJJ1o4rWBrTw9lm40             Il Divo
36613   4oPYazJJ1o4rWBrTw9lm40  67Hs5BjNGLgaOt8Ib7AVgD                 NaN
37015   1zljdzY4Ike09mbUIdov4L  4oPYazJJ1o4rWBrTw9lm40                JACK
57047   3kCG4giKb7h5623JYYWIyy  4oPYazJJ1o4rWBrTw9lm40      P.A.P BEATBAND
73132   4oPYazJJ1o4rWBrTw9lm40  5ESWq6xSEW2MEqX6CLk99J                 NaN
82478   4BKu9DZcJznVjN2kIZW7f5  4oPYazJJ1o4rWBrTw9lm40          DEN-CHICHA
82735   2gsNwMM3GFKuZFZQtZqRit  4oPYazJJ1o4rWBrTw9lm40                Pune
82814   4oPYazJJ1o4rWBrTw9lm40  6xao9LKcYzwJIJ2u3pwzZA                 NaN
90886   4oPYazJJ1o4rWBrTw9lm40  5zSQQxDwEPGOXIcjdbuhWz                 NaN
94438   3DN2xUmwpMvT6MO8j25zB5  4oPYazJJ1o4rWBrTw9lm40     Wolfgang Plagge
98943   4oPYazJJ1o4rWBrTw9lm40  5t0YaJivueCZcU7tXgjtOv                 NaN
103554  4oPYazJJ1o4rWBrTw9lm40  7G1GwOU1zjT6MZit6mbWVt                 NaN
107337  0Nnazs5YmelCRr3jVuXvTv  4oPYazJJ1o4rWBrTw9lm40                JJIM
116392  4oPYazJJ1o4rWBrTw9lm40  7jlMwr0xUcRO1xS6WjkkUT                 NaN
117390  3SR2rIsR1MELfcLR01zcHh  4oPYazJJ1o4rWBrTw9lm40                6ZAX
121937  4oPYazJJ1o4rWBrTw9lm40  6cZ8XNwEbtSAJCJBIOs1Fw                 NaN
132768  3ubI9p9OwurQQRusTZfB9l  4oPYazJJ1o4rWBrTw9lm40  เปี๊ยก หนองไก่โต้ง
133150  4drsi0sWppTpn2LFeZzUgq  4oPYazJJ1o4rWBrTw9lm40                 OZH
133805  4oPYazJJ1o4rWBrTw9lm40  5G3QFmTmAfPPc3nDBoSpoT                 NaN
136017  2BW0eBJTwlM5GihO2k5BDY  4oPYazJJ1o4rWBrTw9lm40            MEDKIT.Z
136225  1D1JIB4zGtan6Rs5U3vdyV  4oPYazJJ1o4rWBrTw9lm40               PONWP
138060  4kq8z3vydHjPDggxb16ErB  6JWuxVtbFw3VM4dxG8WIyg         Nakash Aziz
140791  4oPYazJJ1o4rWBrTw9lm40  4p4r5Es0BbwJblYF5uGq1Y                 NaN
141969  1Uns68oVdDyBkE5yvxa76T  4oPYazJJ1o4rWBrTw9lm40               Kunze
151765  0XwVL3o8eZT2dNMC7iibwo  4oPYazJJ1o4rWBrTw9lm40    Benedicte Adrian
152001  4oPYazJJ1o4rWBrTw9lm40  5TAmJ9n6oCCwv5RD12MF3O                 NaN
153842  0IDo8p5H0ciYMRzuJhPJdH  4oPYazJJ1o4rWBrTw9lm40      Prim Thanyarat
154285  0TssKMrMlrXSxIwNrghB1V  6QQCeD7ZErV1xQnlyjaFHF                 NaN
154289  27rK4pP0VMqWiRe7pamKe5  6JWuxVtbFw3VM4dxG8WIyg    Abhay Jodhpurkar
159846  4oPYazJJ1o4rWBrTw9lm40  6lTNnA8997WLaWeOUfuJRu                 NaN
162453  4oPYazJJ1o4rWBrTw9lm40  5mBTkR89U6AOaRbOZqO6ME                 NaN
166951  1Z3fF5lZdCM0ZHugkGoH8s  4oPYazJJ1o4rWBrTw9lm40           John Cage
171554  2WPVaTeOjtSXSgXYTB4uLz  4oPYazJJ1o4rWBrTw9lm40               THUNX
171703  1Ljs8jCxOxb68wDVR3dqsz  4oPYazJJ1o4rWBrTw9lm40             SK MTXF
182820  19bifnLkcshQM0sPUtXBTQ  4oPYazJJ1o4rWBrTw9lm40          Andrija Jo
190614  4oPYazJJ1o4rWBrTw9lm40  6fpU6tvklnjTvWJThbgQCT                 NaN
196610  4W91bbPB2CTSsHwt7eqNl7  6JWuxVtbFw3VM4dxG8WIyg           Javed Ali
198224  3FhsyZW3LG7GyOYpr1B8Cn  4oPYazJJ1o4rWBrTw9lm40           JordSmizz
200549  4gpIZ4bm340Bo9mALjrhP6  4oPYazJJ1o4rWBrTw9lm40                  PP
208887  1U5zgr455OGyIkLNXvDdrf  6JWuxVtbFw3VM4dxG8WIyg         Traditional
214711  1eemckRM9kHSeCOrFtwYQN  4oPYazJJ1o4rWBrTw9lm40              Teewow
223993  4oPYazJJ1o4rWBrTw9lm40  7gyEHWG7bLlW2ZCPeIr1fE                 NaN
224838  4oPYazJJ1o4rWBrTw9lm40  61zbmJF3N2JmbJ9y0UMEbY                 NaN
233152  4CuVt3p02OaWu4klQuJoDP  4EE7hLCmir49XJjVXPk07e                  Z9
239375  00qFQk5nlO7GILYXcJsVqN  4oPYazJJ1o4rWBrTw9lm40              RO MIT
243092  4XvRNgFdusTGNgusfdPAbg  4oPYazJJ1o4rWBrTw9lm40                 Jkr
245558  3gUqPhcxzSrp0A5AEwxtWk  4oPYazJJ1o4rWBrTw9lm40              Freefa
257065  4oPYazJJ1o4rWBrTw9lm40  4xXCRXOfQKQ2gjWxNhNzYW                 NaN
258001  02II4IWAlmGPy3aj3WtKwU  4oPYazJJ1o4rWBrTw9lm40              ZEEMON
267917  4oPYazJJ1o4rWBrTw9lm40  6biJHBWvKVkdarhuu1PZz9                 NaN
268251  0Egk8B1smt9wJWDYMWv4Iz  4oPYazJJ1o4rWBrTw9lm40         Red Chamber
272176  41SObhphwR7G1Emyv80FRT  4oPYazJJ1o4rWBrTw9lm40               Patar
291365  0T1M3HWlE4h2wh0JWZSkc8  6JWuxVtbFw3VM4dxG8WIyg                Mani
297991  4oPYazJJ1o4rWBrTw9lm40  5Y6TQY1VCoUzCDL1RgTLGI                 NaN

                                      artist_1
4708                                    S!nner
7186                                       NaN
31904                                Rezo Mind
34402                                      NaN
36613                              Local Vocal
37015                                      NaN
57047                                      NaN
73132                           Prettee Unique
82478                                      NaN
82735                                      NaN
82814                                Legendboy
90886                               The Others
94438                                      NaN
98943                                      Ntk
103554  Danmarks Radios Underholdningsorkester
107337                                     NaN
116392                                 One Bit
117390                                     NaN
121937                            Dieter Brink
132768                                     NaN
133150                                     NaN
133805                                 Arsenic
136017                                     NaN
136225                                     NaN
138060                                     NaN
140791                                      GH
141969                                     NaN
151765                                     NaN
152001                                    Ptrp
153842                                     NaN
154285                             Bodø Domkor
154289                                     NaN
159846                                   Junko
162453          Benedicte Adrian & Sven Nordin
166951                                     NaN
171554                                     NaN
171703                                     NaN
182820                                     NaN
190614                                Max Holm
196610                                     NaN
198224                                     NaN
200549                                     NaN
208887                                     NaN
214711                                     NaN
223993                           Gardemusikken
224838                                REDBONEZ
233152                                     NaN
239375                                     NaN
243092                                     NaN
245558                                     NaN
257065                              Air Supply
258001                                     NaN
267917               HORNSLET KIRKES VOKSENKOR
268251                                     NaN
272176                                     NaN
291365                                     NaN
297991                          Thomas Lennert

In [15]:
# Remove rows where 'artist_0' or 'artist_1' is null
edges_cleaned = edges.dropna(subset=['artist_0', 'artist_1'])

# If you want to remove these rows from the original DataFrame, you can use the inplace parameter
edges.dropna(subset=['artist_0', 'artist_1'], inplace=True)

# Display the cleaned DataFrame
print(edges_cleaned)

                          id_0                    id_1  \
0       76M2Ekj8bG8W7X2nbx2CpF  7sfl4Xt5KmfyDs2T3SVSMK
1       0hk4xVujcyOr6USD95wcWb  7Do8se3ZoaVqUt3woqqSrD
2       38jpuy3yt3QIxQ8Fn1HTeJ  4csQIMQm6vI2A2SCVDuM2z
3       6PvcxssrQ0QaJVaBWHD07l  6UCQYrcJ6wab6gnQ89OJFh
4       2R1QrQqWuw3IjoP5dXRFjt  4mk1ScvOUkuQzzCZpT6bc0
...                        ...                     ...
300381  0PK0Dx3s9et0Uf4XbdFpiW  6SmpksRq3jxeDZ7roKDb6F
300382  5hqRsNHDZH1jHzI9LgxFRZ  7KYseTkErcYMRvcIqacxUq
300383  0wjb0t7aYMuIwyuXnPOilh  2p1fiYHYiXz9qi0JJyxBzN
300384  3ciRvbBIVz9fBoPbtSYq4x  5einkgXXrjhfYCyac1FANB
300385  25uiPmTg16RbhZWAqwLBy5  3Xt3RrJMFv5SZkCfUE8C1J

                            artist_0      artist_1
0                            NGHTMRE       Lil Jon
1                          Sick Luke       MACHETE
2                            Mat.Joe  Hayden James
3                           Lp2loose    Headie One
4                    Marlon Roudette        Stadic
...                              ...           ...
300381                  Sons Of Zion   Sid Diamond
300382                       Filipek     clearmind
300383                         Lay-Z        Skepta
300384  Lil Jon & The East Side Boyz   Lil Scrappy
300385                    Charli XCX    Kim Petras

[300329 rows x 4 columns]

In [16]:
edges.isna().sum()

id_0        0
id_1        0
artist_0    0
artist_1    0
dtype: int64

In [17]:

# Remove the columns 'id_0' and 'id_1'
edges_cleaned = edges_cleaned.drop(columns=['id_0', 'id_1'])

# Export the updated DataFrame to a new CSV file
edges_cleaned.to_csv('collaborated_artist.csv', index=False)

# Verify by displaying the first few rows of the new DataFrame
print(edges_cleaned.head())

          artist_0      artist_1
0          NGHTMRE       Lil Jon
1        Sick Luke       MACHETE
2          Mat.Joe  Hayden James
3         Lp2loose    Headie One
4  Marlon Roudette        Stadic

In [18]:
df = pd.read_csv('collaborated_artist.csv')
df.head()

          artist_0      artist_1
0          NGHTMRE       Lil Jon
1        Sick Luke       MACHETE
2          Mat.Joe  Hayden James
3         Lp2loose    Headie One
4  Marlon Roudette        Stadic

In [19]:
df.isnull().sum()

artist_0    0
artist_1    0
dtype: int64

In [20]:
df.shape

(300329, 2)